.footer {
  padding: 50px 0px;
  text-align: center;
  // .footer__content

  &__content {
  }

  // .footer__social

  &__social {
    margin: 0px 0px 25px 0px;
  }

  // .footer__copy

  &__copy {
    font-size: 14px;
  }
}
