//====================================================================================================
.hello {
  padding: 38px 0px 70px 0px;
  @media (max-width: $md1+px) {
    // уберем вообще отступ сверху
    padding: 0px 0px 70px 0px;
  }
  @media (max-width: $md3+px) {
    padding: 0px 0px 60px 0px;
  }
  // .hello__container

  &__container {
    display: flex;
    @media (max-width: $md3+px) {
      text-align: center;
      flex-direction: column-reverse;
    }
  }

  // .hello__content
  // это флекс контейнер
  &__content {
    align-items: flex-start; /* то есть принудительно прижать их к верху, не смотря на то что у нас и до этого все было ок, почему? Потому что по умолчанию мы знаем что флекс элементы работают со значением stretch у align-items и они стремятся растянуться, то есть картинка стремилась растянуться по большому тексту и что бы обезопасить себя на изменение какого то контента и что бы ничего не случилось,то такие вещи стоит делать. */
    padding: 18px 110px 0px 0px;
    flex: 1 1 auto; /* разрешаем увеичиваться, уменьшаться и ширина автоматически, что позволяет нашей контентной части занимать и придавливать изображение которое имеет у нас фиксированый размер */
    *:last-child {
      /* это означает что у любого тега последнего кот. находится последний в дереве DOM - мы убираем отступы. */
      margin-bottom: 0;
    }

    // hello__content
    @media (max-width: $md1+px) {
      // Уменьшаем правый оступ при 1-ом брейкпоинте.
      padding: 18px 50px 0px 0px;
    }
    @media (max-width: $md3+px) {
      padding: 0px 0px 0px 0px;
    }
  }

  // .hello__title

  &__title {
    margin: 0px 0px 25px 0px; /* делаем на глаз так как там гораздо меньше чем в макете 40px. */
    @media (max-width: $md3+px) {
      margin: 0px 0px 20px 0px;
    }
  }

  // .hello__text

  &__text {
    margin: 0px 0px 35px 0px;
    @media (max-width: $md3+px) {
      padding: 0 15px;
      margin: 0px 0px 25px 0px;
    }
  }

  // .hello__btn

  &__btn {
    margin: 0px 0px 25px 0px;
    @media (max-width: $md3+px) {
      // на всякий случай
      margin: 0px 0px 20px 0px;
    }
  }

  // .__avatar

  &__avatar {
    flex: 0 0 243px; /* для фиксированых колонок мы запрещаем увеличиваться(первый 0), уменьшаться(второй 0), и устанавливаем фиксированую ширину 243px; */
    height: 243px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: -5px 13px 0px 0px #edf7fa;
    img {
      max-width: 100%;
    }
    @media (max-width: $md3+px) {
      width: 170px;
      height: 170px;
      margin: 0px 0px 40px 0px; /* визуально у нас ничего не поменялось, у нас есть изображение кот. задан margin вниз и если не будет изображения то у нас не будет лишних висячих отступов перед контентом. */
    }
  }
}
//====================================================================================================
//
