//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap"); /* лишнее подключение шрифтов влияет на вес нашей страницы и для оптимизации, для быстрой загрузки нам естественно нужно только то что нужно. Еще надо добавлять &display=swap - это параметр кот. позволяет шрифтам грузиться не то что быстрее, он контролирует порядок загрузки шрифтов и добавление этого параметра улучшает показатели в  google page. Это говорит нам о том что сайт будет грузиться быстрее*/
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Heebo";
//</Шрифт по умолчанию>==========================================================================================

// @mixin font($font_name, $file_name, $weight, $style) {
//   // Этот миксин будет подключать наши файлы шрифтов
//   @font-face {
//     font-family: $font_name;
//     font-display: swap;
//     src: url("../fonts/#{$file_name}.woff") format("woff"),
//       url("../fonts/#{$file_name}.woff2") format("woff2");
//     font-weight: #{$weight};
//     font-style: #{$style};
//   }
// }
// @import "fonts";
//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1152; /* максимальная ширина по макету. Это ширина всего полотна. Мы ее указываем для того что бы у нас работали такие вещи как адаптивный шрифт, адаптивное свойство и т.д. */
$maxWidthContainer: 856; /* это наш ограничивающий контейнер, дальше контента нет, дальше будет полотно */

// Это обычные брейкпоинты и их обычная сетка, самая простая, то есть первый брейкпоинт это ограничивающий контейнер +12px, что бы немного раньше сработал и так далее
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98; /* устройства меньше 768px */
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
  color: #21243d;
  font-size: 14px;
  &._lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1+px) {
    max-width: 750px;
  }
  @media (max-width: $md2+px) {
    max-width: none;
    padding: 0 10px;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
// @import "popup";
@import "header";
@import "footer";
@import "home";
@import "works";
// @import "blog";
// @import "article";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  padding: 90px 0px 0px 0px;
  flex: 1 1 auto;
  @media (max-width: $md3+px) {
    padding: 30px 0px 0px 0px;
  }
}
//===================================================================================================================================
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  // .social__item
  &__item {
    transition: color 0.3s ease 0s;
    margin: 0px 17px;
    font-size: 30px;
    color: inherit;
    @media (min-width: $md2+px) {
      &:hover {
        color: #ff6464;
      }
    }
  }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
