// В этом отдельном файле будет все что касается именно блоков works который будет и на другой странице.
.works {
  // .works__item

  &__item {
    display: flex;
    align-items: flex-start; /* прижмем всех к верху, что бы при слишком большом тексте картинку не раскурочело. Что изменилось? Изменилось то что мы можем сейчас вставить абсолютно любую картинку и она впишеться в эти размеры макета */
  }

  // .works__image

  &__image {
    flex: 0 0 246px;
    border-radius: 6px;
    min-height: 180px;
  }

  // .works__body

  &__body {
  }

  // .works__title

  &__title {
  }

  // .works__info

  &__info {
  }

  // .works__year

  &__year {
  }

  // .works__category

  &__category {
  }

  // .works__text

  &__text {
  }
}
