@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap");

/* лишнее подключение шрифтов влияет на вес нашей страницы и для оптимизации, для быстрой загрузки нам естественно нужно только то что нужно. Еще надо добавлять &display=swap - это параметр кот. позволяет шрифтам грузиться не то что быстрее, он контролирует порядок загрузки шрифтов и добавление этого параметра улучшает показатели в  google page. Это говорит нам о том что сайт будет грузиться быстрее*/

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-fb:before {
  content: "\e900";
}

._icon-Group:before {
  content: "\e901";
}

._icon-insta:before {
  content: "\e902";
}

._icon-Linkedin:before {
  content: "\e903";
}

/* максимальная ширина по макету. Это ширина всего полотна. Мы ее указываем для того что бы у нас работали такие вещи как адаптивный шрифт, адаптивное свойство и т.д. */

/* это наш ограничивающий контейнер, дальше контента нет, дальше будет полотно */

._container {
  max-width: 856px;
  margin: 0 auto;
}

.header__content {
  max-width: 1032px;
}

@media (max-width: 991.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 868px) {
  ._container {
    max-width: 750px;
  }
}