@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap");

/* лишнее подключение шрифтов влияет на вес нашей страницы и для оптимизации, для быстрой загрузки нам естественно нужно только то что нужно. Еще надо добавлять &display=swap - это параметр кот. позволяет шрифтам грузиться не то что быстрее, он контролирует порядок загрузки шрифтов и добавление этого параметра улучшает показатели в  google page. Это говорит нам о том что сайт будет грузиться быстрее*/

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-fb:before {
  content: "\e900";
}

._icon-Group:before {
  content: "\e901";
}

._icon-insta:before {
  content: "\e902";
}

._icon-Linkedin:before {
  content: "\e903";
}

/* максимальная ширина по макету. Это ширина всего полотна. Мы ее указываем для того что бы у нас работали такие вещи как адаптивный шрифт, адаптивное свойство и т.д. */

/* это наш ограничивающий контейнер, дальше контента нет, дальше будет полотно */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Heebo";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Heebo";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #21243d;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

._container {
  max-width: 856px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  /* что бы она накрыла весь наш контент. */
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* то есть на весь размер нашей шапочки width с height; */
  z-index: 2;
}

.header__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__icon {
  display: none;
}

.menu__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  /* что бы отображался список при расширении больше 767px */
}

.menu__list li {
  margin: 0px 0px 0px 20px;
}

.menu__link {
  color: #000000;
  text-transform: uppercase;
  font-size: 18px;
}

@media (max-width: 991.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 868px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__menu {
    height: 50px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }

  .menu__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .menu__icon span {
    position: absolute;
    background-color: #000000;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__body {
    position: fixed;
    top: -100%;
    /* что бы оно появлялось сверху(съезжало) */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18b5a4;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    /* что бы меню выезжало сверху плавно. */
    overflow: auto;
    /* что бы можно было скролить меню в бургере при горизонтальном просмотре экрана. */
  }

  .menu__list {
    display: block;
  }

  .menu__list li {
    margin: 0px 0px 20px 0px;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu .active {
    top: 0;
    /* при нажатии на бургер мы добавляем класс active к header-body. */
  }

  .menu .active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .menu .active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu .active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}